{
    "presets": [
        ["env", {
            "targets": {
                "node": "6.10.2",
                "uglify": true
            },
            "useBuiltIns": true,
            "modules": false
        }]
    ],
    "plugins": [
        "transform-async-to-generator",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
    ],
    "env": {
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}
